@using SuperShop.ViewModels.Common;
@using SuperShop.ViewModels.Catalog.Categories;
@model PageResult<CategoryVm>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
<div class="container-fluid px-4">
    <h1 class="mt-4">Categories</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class=" col-md-6">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Category">Create</a>
                </div>
                <div class="col-md-6">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" placeholder="Search..." />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <button type="button" onclick="window.location.href='/Category/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive">
            <div class="row">

                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>

                        <th>
                            SeoDescription
                        </th>
                        <th>
                            SeoAlias
                        </th>
                        <th>
                            SeoTitle
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.SeoDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SeoAlias)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SeoTitle)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>